body{
    width: 100%;
    
}
form{
    width: 50%;
    margin:0 auto;
    background-color: #ccc;
}
input,textarea{
    width: 70%;
}

label{
    font-size: 20px;
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float : left;
    font-size: 16px;
     width: 30%; 
}
#save, #saveAndPost{
    color:white;
}
button{
    border-radius: 2px;
    box-shadow: 4px 2px gray;
}

#cancel,#saveAndPost,#save{
    margin-top: 20px;
}
#cancel{
    /* margin-left: 10px; */
    float: left;
    height: 25px;
}
#saveAndPost,#save{
    height: 25px;
    margin-left: 20px;
    float: right;
}

#upload_image{
    position :relative; 
    z-index: 99;     
    margin-top: 45px;
    height: 25px;
    background-color: aqua;
    float: right;
   
}

#upload_image1{
    float: left;
    height: 25px;
    background-color: aqua;
}
.container{
    position: relative;

}
.container img{
    width:100px;
    height: 100px;
}
.container button{

    position: absolute;
    left: 0;
    bottom:0;
    
    width:100px;  /*width img=100px */
    height: 25px;
    background-color: rgb(246, 37, 65);
    opacity:0.6;
}
.container button :hover{
    opacity: 1;
}

.container1{
    position: relative;

}
.container1 img{
    width: 70%;
    height: 150px;
}
.container1 button{
    width:70%;  /*width img=100px */
    height: 25px;
    position: absolute;
    left: 0;
    bottom:0;    
    background-color: rgb(246, 37, 65);
    opacity:0.6;
}
.container1 button :hover{
    opacity: 1;
    background-color: red;
    
}



