a{
    font-size:20px;
}
#Month{
    float: right; 
    padding: 5px;
    
    display: inline;
     
}
body{
    margin-left: 5%;
    margin-right: 5%;
}
table{
    border-collapse: collapse;
    text-align: center;
}
table, th, td {
border: 1px solid black;
}

table {
width: 100%;
}
#htable{
background-color: aqua;
}
th {
height: 30px;
color: white;
}
.col-sm-3{

 border: 2px solid #000000;
 margin: 0 auto ;
text-align: center;

}

a:active {
color: red;
background-color: yellow;
}
a:visited {
        color: green;
    }